/node_modules
/public/build
/public/hot
/public/storage
/storage/app/ext-data
/storage/app/private
/storage/app/logs
/storage/app/json-data
/storage/app/temp
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
/.info
/.idea
/.remote
/.external-data
/.console-data
/.temp
